server/src/main/resources/application.properties:10application.properties
server/client_secret_*.json

server/client_secret_261588093008-87s3ntd88cta8882teuadgu19d27ou29.apps.googleusercontent.com.json
